#mainPage {
  height: 100vh;
  margin: 0 auto;
  width: auto;
  background-color: #0F1A2B;
}

h2 {
  color: white;
}

.warehouseArea {
  display: flex;
  flex-direction: column;
  margin-left: 210px;
  margin-right: auto;
  width: 80%;
  margin-top: 20px;
  padding-left: 5%;
  align-items: center;
}

.tablesContainer {
  gap: 20px;
  display: flex;
  align-content: center;
}

.leftPanel {
  border: 1px solid #ccc;
  padding: 20px;
  height: auto;
}
.rightPanel {
  border: 1px solid #ccc;
  padding: 20px;
  height: auto;
}
.orderTable{
  max-width: 300px;
  margin-right: 1%;
  border-collapse: collapse;
  height: 400px; 
}
.finalOrder {
  max-width: 300px;
  margin-right: 1%;
  border-collapse: collapse;
}

.orderTable th,
.orderTable td,
.finalOrder th,
.finalOrder td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  color: black;
  width: 100%;
  height: 30px;
}

.orderTable th,
.finalOrder th {
  background-color: #f2f2f2;
}

.tableItems{
  height: 400px;
}

.buttonContainer {
  display:inline-flex;
  gap: 10px;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 10px;
  align-items: first baseline;
  max-width: 50%;
}

.buttonContainer select {
  width: 200px;
  height: 55px;
  font-size: 14px;
  align-items: center;
}

.buttonContainer button {
  font-size: 14px;
}

#orderList:hover {
  background-color: #c87cfc;
  cursor:pointer;
}