#mainPage {
  height: 100vh;
  margin: 0 auto;
  width: auto;
  background-color: #0F1A2B;
}

.warehouseArea {
  display: flex;
  justify-content: center;
  margin-left: 15%;
  margin-right: auto;
  width: 80%;
  margin-top: 20px;
  padding-left: 5%;
}

.table {
  background-color: white;
  height: 20px;
}
#orderPageTable {
  max-height: 80vh;
  max-width: 50vw;
  padding-top: 12vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
overflow: auto;


}

.orderTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.orderTable th,
.orderTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  color: black;
  width: 150px;
}

.orderTable th {
  background-color: #f2f2f2;
}


.buttonContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10px;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 10px;
  align-items: center;
  max-width: 20%;
  gap: 10px;
}

.buttonContainer select {
  width: 200px; 
  height: 55px; 
  font-size: 14px; 
  align-items: center;
}

#orderList:hover {
  background-color: #c87cfc;
  cursor: pointer;
}